
figure.effect-ruby {
	background-color: #fff;
}

figure.effect-ruby .backgroundcover {
	opacity: 0.5;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
}

figure.effect-ruby:hover .backgroundcover {
	opacity: 0.5;
	-webkit-transform: scale(1);
	transform: scale(1);
}

/* figure.effect-ruby .product_icon {
	margin-top: 20%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
	width: 75px;
} */
figure.effect-ruby .product_icon {
    margin-top: 0%;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,20px,0);
    transform: translate3d(0,20px,0);
    width: 145px;
}
figure.effect-ruby p {
	margin: 0px 22px;
    padding: 5px 40px;
    display: inline-block;
	border: 1px solid #fff;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0) scale(1.1);
	transform: translate3d(0,20px,0) scale(1.1);
	background: #fff;
} 

figure.effect-ruby:hover .product_icon {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-ruby:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0) scale(1);
	transform: translate3d(0,0,0) scale(1);
}
.effect-ruby {
	position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    width: 90%;
    /* height: 100%; */
    height: 195px;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
    margin-bottom: 15px;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    border-radius: 50px;
}
.effect-ruby .backgroundcover {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
}
.effect-ruby figcaption, .effect-ruby figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.effect-ruby p {
    letter-spacing: 1px;
    font-size: 68.5%;
}
.effect-ruby figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}
figure.effect-ruby p a{
	color: #616161;
    font-size: 14px;
}
.effect-ruby:hover{
	/* transform: scale(1.1);
	-webkit-transform: scale(1.1); */
	box-shadow: 1px 1px 30px -7px #00000078;

}
@media(max-width:768px){
	.effect-ruby{
		width: 100%;
	}
	figure.effect-ruby .product_icon {
		width: 150px;
	}
	figure.effect-ruby p {
		margin: 0px 0px;
		width: 100%;
		padding: 5px 5px;
	}
}