@media (min-width: 1440px) {
    .grabnav-tab-container {
      width: 1440px;
    }
    #main-menu .dropdown-menu.columns-3 {
      min-width: 1440px;
    }
  }
  @media (max-width: 1440px) {
    .grabnav-tab-container {
      width: 100%;
    }
    #main-menu .dropdown-menu.columns-3 {
      width: 100vw;
      /*position: fixed;*/
    }
  }
  
  /*  grabnav tab */
  div.grabnav-tab-container {
    z-index: 10;
    padding: 0 !important;
  }
  div.grabnav-tab-menu {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
    width: 338px;
    float: left;
    min-height: 400px;
    background-color: #fff;
  }
  div.grabnav-tab {
    float: left;
    width: calc(100% - 338px);
  }
  div.grabnav-tab-menu div.list-group {
    margin-bottom: 0;
  }
  div.grabnav-tab-menu div.list-group a.list-group-item {
    height: 80px;
    margin-bottom: 0;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 40px;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    border-bottom: 1px solid #f6f8fa;
    border-top: none;
    border-right: 1px solid #f6f8fa;
    color: #363a45;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  div.grabnav-tab-menu div.list-group > a .glyphicon,
  div.grabnav-tab-menu div.list-group > a .fa {
    color: #5a55a3;
  }
  div.grabnav-tab-menu div.list-group > a:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    -moz-border-top-right-radius: 0;
  }
  div.grabnav-tab-menu div.list-group > a:last-child {
    border-bottom-right-radius: 0;
    -moz-border-bottom-right-radius: 0;
  }
  div.grabnav-tab-menu div.list-group a.active {
    background-color: #f6f8fa;
    background-image: #f6f8fa;
    color: #363a45;
    border-color: #f6f8fa;
  }
  div.grabnav-tab-content {
    background-color: transparent;
    padding-left: 20px;
    padding-top: 10px;
    min-height: 400px;
  }
  div.grabnav-tab-content ul{
    padding: 0 !important;
  }
  div.grabnav-tab div.grabnav-tab-content.active {
  }
  div.grabnav-tab div.grabnav-tab-content:not(.active) {
    display: none;
  }
  div.grabnav-tab div.grabnav-tab-content .item-link {
    width: 134px;
    float: left;
    margin: 20px 0px 0px 40px;
    height: 102px;
  }
  div.grabnav-tab div.grabnav-tab-content .item-link h4,
  div.grabnav-tab div.grabnav-tab-content .item-link h4 a {
    font-size: 16px;
    color: #363a45;
  }
  div.grabnav-tab div.grabnav-tab-content .item-link h4 {
    margin-bottom: 10px;
    line-height: 1.8;
    font-weight: bold;
    font-family: 'Sanomat Grab Web Medium', sans-serif;
  }
  div.grabnav-tab div.grabnav-tab-content .item-link p {
    font-size: 12px;
    line-height: 1.43;
  }
  div.grabnav-tab div.grabnav-tab-content .item-link h4 a:hover {
    border-bottom: 2px solid #00b14f;
    padding-bottom: 2px;
    text-decoration: none;
  }
  
  html:lang(en-US) div.grabnav-tab div.grabnav-tab-content .item-link h4 {
    font-family: 'Sanomat Grab Web Medium', sans-serif !important;
  }
  html:lang(en-US) div.grabnav-tab-menu div.list-group a.list-group-item {
    font-family: 'Sanomat Grab Web Medium', sans-serif !important;
  }
  html:lang(en-US) #nav-footer h4 {
    font-family: 'Sanomat Grab Web Medium', sans-serif !important;
  }


  @media(max-width:768px){
    .main-menu ul {
      position: unset !important;
      z-index: 999;
      visibility:unset !important; 
      opacity: 1; 
      border: none !important;
   background: transparent;
     
  }
  }




  .mobile_menu .navbar-nav {
    padding: 15px;
    border-radius: 3px 3px 0 0;
    background: #e82801 !important;
}
.mobile_menu .navbar-nav .dropdown-menu{
  background-color: #fee685 !important;
}

.mobile_menu .navbar-nav .dropdown-menu .dropdown-item:hover {
  padding-left: 25px;
  color: #fff !important;
  background: #56565629 !important;
}
.mobile_menu .navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
  color: #fff !important;
  padding: 10px 2px !important;
  border-bottom: 1px solid #bf2000 !important;
}

.mobile_menu .navbar-nav .dropdown-toggle::after {
  content: "\f107";
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: right;
  border: none !important;
}
.mobile_menu .submenu_title{
  font-size: 15px;
  padding: 10px 15px;
  width: 100%;
  background: #0000002b;
}








/* menuiconanimate */

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 60px;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate.active text{
display: none;
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill:none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke:#000;
  stroke-width:5.5;
  stroke-linecap:round;
}
.ham1 .top {
  stroke-dasharray: 40 139;
}
.ham1 .bottom {
  stroke-dasharray: 40 180;
}
.ham1.active .top {
  stroke-dashoffset: -98px;
}
.ham1.active .bottom {
  stroke-dashoffset: -138px;
}
.ham2 .top {
  stroke-dasharray: 40 121;
}
.ham2 .bottom {
  stroke-dasharray: 40 121;
}
.ham2.active .top {
  stroke-dashoffset: -102px;
}
.ham2.active .bottom {
  stroke-dashoffset: -102px;
}
.ham3 .top {
  stroke-dasharray: 40 130;
}
.ham3 .middle {
  stroke-dasharray: 40 140;
}
.ham3 .bottom {
  stroke-dasharray: 40 205;
}
.ham3.active .top {
  stroke-dasharray: 75 130;
  stroke-dashoffset: -63px;
}
.ham3.active .middle {
  stroke-dashoffset: -102px;
}
.ham3.active .bottom {
  stroke-dasharray: 110 205;
  stroke-dashoffset: -86px;
}
.ham4 .top {
  stroke-dasharray: 40 121;
}
.ham4 .bottom {
  stroke-dasharray: 40 121;
}
.ham4.active .top {
  stroke-dashoffset: -68px;
}
.ham4.active .bottom {
  stroke-dashoffset: -68px;
}
.ham5 .top {
  stroke-dasharray: 40 82;
}
.ham5 .bottom {
  stroke-dasharray: 40 82;
}
.ham5.active .top {
  stroke-dasharray: 14 82;
  stroke-dashoffset: -72px;
}
.ham5.active .bottom {
  stroke-dasharray: 14 82;
  stroke-dashoffset: -72px;
}
.ham6 .top {
  stroke-dasharray: 40 172;
}
.ham6 .middle {
  stroke-dasharray: 40 111;
}
.ham6 .bottom {
  stroke-dasharray: 40 172;
}
.ham6.active .top {
  stroke-dashoffset: -132px;
}
.ham6.active .middle {
  stroke-dashoffset: -71px;
}
.ham6.active .bottom {
  stroke-dashoffset: -132px;
}
.ham7 .top {
  stroke-dasharray: 40 82;
}
.ham7 .middle {
  stroke-dasharray: 40 111;
}
.ham7 .bottom {
  stroke-dasharray: 40 161;
}
.ham7.active .top {
  stroke-dasharray: 17 82;
  stroke-dashoffset: -62px;
}
.ham7.active .middle {
  stroke-dashoffset: 23px;
}
.ham7.active .bottom {
  stroke-dashoffset: -83px;
}
.ham8 .top {
  stroke-dasharray: 40 160;
}
.ham8 .middle {
  stroke-dasharray: 40 142;
  transform-origin: 50%;
  transition: transform 400ms;
}
.ham8 .bottom {
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition: transform 400ms, stroke-dashoffset 400ms;
}
.ham8.active .top {
  stroke-dashoffset: -64px;
}
.ham8.active .middle {
  stroke-dashoffset: -20px;
  transform: rotate(90deg);
}
.ham8.active .bottom {
  stroke-dashoffset: -64px;
}

