.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 20px;
    margin-top: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e2e2e2;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 5px;
    bottom: 2px;
    /*background-color: #FF5370;*/
    background-color: red;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.switch input:checked + .slider:before {
    /*background-color: #55d192;*/
    background-color: green;
}

.switch input:checked + .slider {
    background-color: #e2e2e2;
}

input:checked + .slider {
    background-color: white;
}

input:focus + .slider {
    box-shadow: 0 0 1px white;
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

.toggle input[type="checkbox"] + .button-indecator {
    cursor: pointer;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.toggle input[type="checkbox"] {
    display: none;
}

.toggle label {
    margin-bottom: 0;
}

.toggle input[type="checkbox"]:checked + .button-indecator:before {
    content: "";
    /*color: #009688;*/
    color: #00B5B8;
    -webkit-animation: toggleBtn 0.3s ease-in-out;
    animation: toggleBtn 0.3s ease-in-out;
}

.toggle input[type="checkbox"] + .button-indecator:before {
    content: "";
    font-family: "FontAwesome";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    margin-right: 5px;
    vertical-align: -2px;
    color: #00B5B8;
    position: relative;
    top: 1px;
}

.url-link a {
    background: #00B5B8;
    color: white;
    padding: 2px 5px;
    border-radius: 25px;
}

.icon-url-link i, .url-link i {
    height: auto;
    line-height: 10px;
    border: none;
    margin-right: 0;
    color: #00B5B8;
    font-size: 18px;
}

.icon-url-link button i {
    color: white;
}

#vehicle-image-preview, #driver-image-preview, #profile-image-preview, #identity-image-preview, #restaurant-image-preview {
    border: 1px solid #ccc;
    width: 100%;
    height: 200px;
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
    color: #ecf0f1;
    cursor: pointer;
    margin-top: 5px;
}

#vehicle-image-preview input, #driver-image-preview input, #profile-image-preview input, #identity-image-preview input, #restaurant-image-preview input {
    line-height: 200px;
    font-size: 200px;
    position: absolute;
    opacity: 0;
    z-index: 10;
}

#vehicle-image-preview label, #driver-image-preview label, #profile-image-preview label, #identity-image-preview label, #restaurant-image-preview label {
    position: absolute;
    z-index: 20;
    opacity: 0.8;
    cursor: pointer !important;
    background-color: #504f4fd1;
    color: white;
    width: 200px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-transform: uppercase;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
}

#vehicle-image-preview label a, #driver-image-preview label a, #profile-image-preview label a, #identity-image-preview label a, #restaurant-image-preview label a { 
    color: #ffffff;
}


.order-status span {
    font-size: 12px;
    width: auto;
    padding: 2px 5px;
    color: white;
    border-radius: 5px;
}

.order-status .cancelled {
    background: #E57373;
}

.order-status .pending {
    background: #999;
}

.order-status .approved {
    background: #99bbff;
}

.order-status .processing {
    background-color: #4db8ff;
}

.order-status .ongoing {
    background-color: #70dbdb;
}

.order-status .completed {
    background: #16D39A;
}

.ride-status .cancelled {
    color: #E57373;
}

.ride-status .pending {
    color: #999;
}

.ride-status .approved {
    color: #99bbff;
}

.ride-status .processing {
    color: #4db8ff;
}

.ride-status .ongoing {
    color: #70dbdb;
}

.ride-status .completed {
    color: #16D39A;
}

.currency::before {
    content: '$';
}

.inner-page-nav-bar ul li a.nav-link { color:#fff !important ; }
.inner-page-nav-bar ul li a.dropdown-item { color:#888 !important ; }
.inner-page-nav-bar .dropdown-menu { top:120%; }
.navbar-light .navbar-nav li { margin: 0 14px; }
.prod-p-card i { 
    /*color: #00B5B8; */
    color: #f44336;
}
#navbar-transport .dropdown .dropdown-menu .dropdown-item.word-wrap { word-wrap: break-word; white-space: normal; }
#main-menu-navigation li a { overflow:auto !important; word-wrap:break-word; white-space: normal; }
.ride-box { min-height: 730px; }
.header-navbar .navbar-header .navbar-brand { padding: 0px; }
td.action .btn-outline-primary{ border: none; }
.order-status span { padding: 0.75rem 1rem !important; line-height: 1.25 !important; font-size: 1rem;display: inline-block; }
td.document .icon-list-demo, td.ratings .icon-list-demo, td.ride .icon-list-demo, td.icon-url-link .icon-list-demo {padding: 0.75rem 1rem;line-height: 1.25 !important;display: inline-block;font-size: 1rem;text-align: center;}
td .button-indecator {padding: 0.68rem 0.64rem;line-height: 1.25;font-size: 1rem;}
td.document .icon-list-demo:hover, td.ratings .icon-list-demo:hover, td.ride .icon-list-demo:hover, td.icon-url-link .icon-list-demo:hover { background-color:#00B5B8; color: #fff !important;}
td.document .icon-list-demo:hover i, td.ratings .icon-list-demo:hover i, td.ride .icon-list-demo:hover i, td.icon-url-link .icon-list-demo:hover i { color: #fff !important; }
/*td .button-indecator:hover { box-shadow: 2px 1px #00B5B8; }*/
#icon {margin: 10px 0px;padding: 5px;}
.dashboard-icon::before { line-height: 1; font-size:2.8rem !important;}
table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child::before{ top:31% !important; left: 5px !important; }
.table.dataTable tr td { vertical-align: middle; }
span.circle-border { border: 4px solid #000;padding: 10px;border-radius: 50%;height: auto;width: auto;display: inline-block;}
div.green span.circle-border { border: 4px solid #2ed8b678; }
div.purple span.circle-border { border: 4px solid #b881e6; }
div.blue span.circle-border { border: 4px solid #4099ff85; }
div.warning span.circle-border { border: 4px solid #ffb64d85; }
div.red span.circle-border { border: 4px solid #FF5370; }
.dashboard, .provides, .carts {border: 1px solid gainsboro;color:#ababab;}
.table.dataTable { text-align: center; }
.no-items{padding: 60px 20px;background: #f8f9f9;color: #bdc3c7;text-align: center;font-size: 115%;margin-bottom: 20px;}
#upload-image-preview, #driver-image-preview  { background-repeat: no-repeat; }
.mh100-pixel {padding-top: 50px;}
.gocab-actions a { display: table-cell; padding-left: 10px;}
.bootstrap-select li { padding: 10px 10px 0px;}