body{
    margin: 0;
    padding: 0;
    font-size: 14px;
    width: 100%;
    height: 100%;
    /* font-family: 'walsheim_regular'; */
    overflow-x: hidden;
    background: url(../images/main-bg-ptn.png);
}

ul, ol{
    list-style: none;
    padding: 0;
    margin: 0;  
}
th {    
    font-weight: normal !important; 
}

a, a:hover, a:focus {
    color: #333;
    text-decoration: none;
}

:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

button:focus {
    outline: none;
}

/* @font-face {
    src: url('../../../../../www.cubber.in/assets/promoter/fonts/walsheim_regular_font.otf') format("opentype");
    font-family: 'walsheim_regular';
    font-style: normal;
}

@font-face {
    src: url('../../../../../www.cubber.in/assets/promoter/fonts/walsheim_medium_font.otf') format("opentype");
    font-family: 'walsheim_medium';
    font-style: normal;
    
}

@font-face {
    src: url('../../../../../www.cubber.in/assets/promoter/fonts/walsheim_bold_font.otf') format("opentype");
    font-family: 'walsheim_bold';
    font-style: normal;
    
} */



#scroll-top {
  width: 7px;
  height: 0;
  background: #da462a;
  position: absolute;
  top: 3px;
  left: 36px;
  transition: all 0.1s;
  z-index: 99;
}
.scroll-btm-arrow {
    position: absolute;
    bottom: -45px;
    width: 50px;
    height: 50px;
    left: -23px;
    z-index: 10;
    animation: moveShade 1.25s ease-in-out alternate infinite;
}


@keyframes moveShade {
  0% {
    transform: rotate(20deg) translate(0px,0);
  }
  100% {
    transform: rotate(-20deg) translate(7px,0);
  }
}




.refer-earn-wrapper{
    width: 680px;
    margin: 0 auto;
    background: #f3e3ca;  
    position: relative;  
}
.join-btn-main{

}
.bnr-ntm-text {
    color: #140c01;
    /* font-family: 'walsheim_bold'; */
    font-size: 47px;
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0 30px 0;
}
.bnr-ntm-text span{
    color: #b21d1d;
}
.join-btn-main a{
    display: inline-block;
    background-repeat: no-repeat;
    font-size: 25px;
    text-transform: uppercase;
    /* font-family: 'walsheim_bold'; */
    letter-spacing: 0.5px;
    color: #fff;
    background: url(../images/join-btn-bg1.png);
    width: 300px;
    height: 62px;
    line-height: 62px;
    box-shadow: 0 10px 15px 5px rgb(255,255,255,0.6);
}
.cubr-str-srvice-heading{
    color: #fff;
    background: url(../images/cubber-store-heading-bg.png);
    height: 52px;
    line-height: 52px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    /* font-family: 'walsheim_bold'; */
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin: 40px 0 40px 0;
}
.cubr-str-sevn-img{
    margin: 0 0 30px 0;
}
.cbr-top-side{
    background: url(../images/bag-top-side.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 220px 0 25px 0;
    position: relative;
}
.inner-ptn-wrapper{
    background: url(../images/bag-center-gradiant-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -3px;
    position: relative;
}
.inner-ptn-wrapper:before{
    content: '';
    background: url(../images/left-dot-border-image.png);
    left: 27px;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 27px;
    right: 0;
    position: absolute;
    z-index: 9;
    background-size: cover;
}
.inner-ptn-left-space{
    padding: 0 0 0 40px;
}
.top-two-line{
    position: relative;
}
.top-two-line p{
    font-size: 14px;
    /* font-family: 'walsheim_bold'; */
    color: #090f0d;
    position: relative;
    padding: 0 0 0 23px;
    margin: 0 0 20px 0;
    text-transform: uppercase;
}
.top-two-line p i{
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #da462a;
    display: none;
}
.earn-month-name-row{
    padding: 15px 0 15px 0;
}
.month-name-bg{
    /* font-family: 'walsheim_bold'; */
    display: inline-block;
    min-width: 192px;
    height: 45px;
    line-height: 46px;
    font-size: 21px;
    color: #fff;
    padding: 0 0 0 35px;
    text-align: left !important;
}
.first-name-bg{
    background: url(../images/first-month-bg.png) no-repeat;
}
.second-name-bg{
    background: url(../images/second-month-bg.png) no-repeat;
}
.twel-name-bg{
    background: url(../images/twel-month-bg.png) no-repeat;
}
.month-inr-earn-img-row{
    position: relative;
}
.month-inr-img {
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}
.image-store-count{
    position: absolute;
    top: 61%;
    right: 15%;
    width: 76px;
    text-align: center;
}
.image-store-count h2{
    /* font-family: 'walsheim_bold'; */
    font-size: 32px;
    margin: 0;
    padding: 0;
    line-height: normal;
}
.image-store-count h5{
    /* font-family: 'walsheim_bold'; */
    font-size: 11px;
    margin: 0;
    padding: 0;
    line-height: normal;
    text-transform: uppercase;
}
.store-contr {
    display: block;
}
.month-inr-info {
    padding: 0 0 0 15px;
}
ul.monthly-incom-row{

}
ul.monthly-incom-row li{ 
    margin: 0 0 20px 0;
    display: block;
    width: 100%;
}
ul.monthly-incom-row li h3{  
    /* font-family: 'walsheim_bold'; */
    font-size: 55px;
    margin: 0 0 5px 0;
}
.first-amount-clr{
    color: #c93535;
}
.second-amount-clr{
    color: #42630d;
}
.twel-amount-clr{
    color: #5c2e91;
}
ul.monthly-incom-row li p{
    color: #090f0d;
    /* font-family: 'walsheim_bold'; */
    text-transform: uppercase;
    font-size: 16px;
    border-bottom: 2px solid rgba(9, 15, 13,0.2);
    display: inline-block;
    margin-right: 50px;
}
ul.monthly-incom-row li p span{
    /*border-bottom: 2px solid rgba(9, 15, 13,0.2);*/
    padding-bottom: 5px;
}
.moth-total-income-btn {
    color: #fff;
    width: 195px;
    background-size: 100%;
    margin: 12px 0 25px 0;
}
.first-month-incm-btn-bg{
    background: url(../images/first-month-tota-lbg.png) no-repeat;
    background-size: 100%;
}
.second-month-incm-btn-bg{
    background: url(../images/second-month-tota-lbg.png) no-repeat;
    background-size: 100%;
}
.twel-month-incm-btn-bg{
    background: url(../images/twel-month-tota-lbg.png) no-repeat;
    background-size: 100%;
    width: 236px;
}
.brackets-name-bg{
    background: url(../images/brackets-month-bg.png) no-repeat;
    background-size: 100%;
}
.moth-total-income-btn h2{
    /* font-family: 'walsheim_bold'; */
    font-size: 34px;
    display:block;
    margin: 0;
}
.moth-total-income-btn p{
    /* font-family: 'walsheim_medium'; */
    margin: 0;
}
.brackets-main{
    padding: 0 0 0 15px;
}
.twel-mnt-cplit-info-text{
    font-size: 25px;
    /* font-family: 'walsheim_bold'; */
    color: #fff;
    text-transform: uppercase;
    background: url(../images/twel-month-text-bg.png) no-repeat;
    padding: 5px 15px;
    background-size: cover;
}
.graph-wrapper{
    position: relative;
    margin: 30px 0 0 0;
}
ul.grph-lable-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
ul.grph-lable-wrapper li{
    display: inline-block;
    width: 85px;
    height: 48px;
    text-align: center;
    text-transform: uppercase;
    padding: 3px 0;
    line-height: 15px;
    position: relative;
}
.graph-lbl-inner{
    position: relative;
}
.graph-lbl-inner{

}
.graph-lbl-inner span{

    /* font-family: 'walsheim_bold'; */
    font-size: 12px;
    color: #fff;
}
.graph-earn-lbl-1{
    background: url(../images/graph-lable-1.png) no-repeat;
    background-size: 100%;
    top: 100px;
    left: -30px;
}
.graph-earn-lbl-2{
    background: url(../images/graph-lable-2.png) no-repeat;
    background-size: 100%;
    top: 75px;
    left: -25px;
}
.graph-earn-lbl-3{
    background: url(../images/graph-lable-3.png) no-repeat;
    background-size: 100%;  
    top: 35px;
    left: -14px;  
}
.graph-earn-lbl-4{
    background: url(../images/graph-lable-4.png) no-repeat;
    background-size: 100%;   
    top: -15px;
}
.cbr-bottom-side{
    background: url(../images/bag-bottom-side.png) no-repeat;
    padding: 80px 0;
    background-size: 100%;
}
.ftr-money-mn-wrapper{
    position: relative;
    background: url(../images/cubber-promoter-men-money.png) 0 0;
    animation: money-rain-btm 250000s linear;
    background-size: cover;
}


@keyframes money-rain-btm {
    0% {
        background-position-y: 0;
    }

    100% {
        background-position-y: 7000000px;
    }
}




.tem-footer-wrapper{
    background: #0f1412;
    color: #fff;
    padding: 15px 0 15px 0;
}
.tem-footer-wrapper ul{

}
.tem-footer-wrapper ul li{
    text-align: center;
    /* font-family: 'walsheim_medium'; */
    font-size: 16px;
    padding: 0 0 4px 0;
}
.tem-footer-wrapper ul li a{
    color: #fff;
}
.contact-us-main{
    margin: 10px 0;
}
.contact-us-main a{
    color: #fff;
    display: block;
    padding: 10px 0;
    text-align: center;
    background: #ffab02;
    border-radius: 50px;
    text-transform: uppercase;
    /* font-family: 'walsheim_bold'; */
    letter-spacing: 0.5px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.contact-us-main a:hover{
    background: #006738;
    color: #fff;
}



.cbr-promoter-men-animation {
    background: transparent url(../images/top-house-move-animation.png) repeat-x 50% 0;
    animation: infinite-shift-left 300000s linear;
    position: relative;
    margin: 0 32px 0 25px;
    border-top-left-radius: 200px;
    overflow: hidden;
    border-top-right-radius: 200px;
}
.bike-promoter-men{
    animation: bike-road-bumper 3s ease-in-out alternate infinite;
    position: relative;
    top: 10px;
}



@keyframes infinite-shift-left {
    0% {
        background-position: 10000000px;
    }

    100% {
        background-position: 0;
    }
}

@keyframes bike-road-bumper {

    20%, 100% {
        transform: translate(0,2px) rotate(2deg);
      }
}


ul.promoter-info-row-1 li{
    max-width: 162px;
    position: relative;
}
ul.d-flex.promoter-info-row-2 {
    margin-top: -40px;
}
ul.promoter-info-row-2 li{
    max-width: 162px;
}
.promoter-info-inner-1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
}
.promoter-info-title h6{
    color: #fff;
    font-size: 15px;
    margin-bottom: 0;
}
.promoter-info-img {
    width: 38px;
    margin: 0 auto;
}
/*.promoter-info-row-1, .promoter-info-row-2{
    min-height: 165px;
}*/
.promoter-info-inner-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
}



.services-flipper-wrapper {
  -webkit-perspective: 1000;
  min-height: 165px;
}

.services-flipper-wrapper:hover .services-flipper-inner, .services-flipper-wrapper.hover .services-flipper-inner {
  -webkit-transform: rotateY(180deg);
}

.services-flipper-wrapper, .services-front-side, .services-front-back{
    width: 100%;
    height: 100%;
    position: relative;	
}

.services-flipper-inner {
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    position: relative;	
}

.services-front-side, .services-front-back {
	-webkit-backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.services-front-side {
  z-index: 2;
}

.services-front-back {
  -webkit-transform: rotateY(180deg);
}
ul.services-back-logo{
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
}
ul.services-back-logo-2 {
    top: 3px;
    bottom: 35px;
}
ul.services-back-logo li{
    position: absolute;
}
ul.services-back-logo li:nth-child(1){
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
ul.services-back-logo li:nth-child(2){
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}
ul.services-back-logo li:nth-child(3){
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
ul.services-back-logo li:nth-child(4){
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
}
ul.services-back-logo li img{

}
.services-back-lg-logo {
    position: absolute;
    top: 47%;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(-50%);
}
ul.services-back-lg-logo li {
    max-width: 60px;
    margin: 30px auto 0;
}



.posin-wrapper{
    position: absolute;
}
.animtin-img-1 {
    left: 3%;
    top: 18%;
    -webkit-animation: 1s forwards infinite alternate updown-animation;
    animation: 1s forwards infinite alternate updown-animation;
}
.animtin-img-2{
    top: 15%;
    right: 4%;
    -webkit-animation: 1s forwards infinite alternate updown-animation;
    animation: 1s forwards infinite alternate updown-animation;
}
.animtin-img-3{
    top: 60%;
    right: 18%;
    -webkit-animation: 1s forwards infinite alternate updown-animation;
    animation: 1s forwards infinite alternate updown-animation;
}
.animtin-img-4{
    top: 8%;
    left: 42%;
    -webkit-animation: 1s forwards infinite alternate updown-animation;
    animation: 1s forwards infinite alternate updown-animation;
}
.animtin-img-5{
    top: -10%;
    left: 42%;
    -webkit-animation: 1s forwards infinite alternate updown-animation;
    animation: 1s forwards infinite alternate updown-animation;
}
.animtin-img-6{
    top: 0;
    right: 10%;
    -webkit-animation: 1s forwards infinite alternate updown-animation;
    animation: 1s forwards infinite alternate updown-animation;
}
.animtin-img-7{
    bottom: 0;
    left: 40%;
    -webkit-animation: 1s forwards infinite alternate updown-animation;
    animation: 1s forwards infinite alternate updown-animation;
}
.animtin-img-8{
    top: -6%;
    left: 25%;
    -webkit-animation: 1s forwards infinite alternate updown-animation;
    animation: 1s forwards infinite alternate updown-animation;
}
.animtin-img-9{
    bottom: 30%;
    right: 7%;
    -webkit-animation: 1s forwards infinite alternate updown-animation;
    animation: 1s forwards infinite alternate updown-animation;
}
.animtin-img-10{
    top: 0;
    left: 7%;
    -webkit-animation: 1s forwards infinite alternate updown-animation;
    animation: 1s forwards infinite alternate updown-animation;
}
.animtin-img-11{
    top: 30px;
    left: 45%;
    -webkit-animation: 1s forwards infinite alternate updown-animation;
    animation: 1s forwards infinite alternate updown-animation;
}
.animtin-img-12{
    top: 8px;
    left: 9%;
    -webkit-animation: 1s forwards infinite alternate updown-animation;
    animation: 1s forwards infinite alternate updown-animation;
}
.animtin-img-13{
    top: -25px;
    right: 30px;
    -webkit-animation: 1s forwards infinite alternate updown-animation;
    animation: 1s forwards infinite alternate updown-animation;
}


@-webkit-keyframes updown-animation{
    0% { -webkit-transform: translateY(-10%); transform: translateY(-10%)}
}
@keyframes updown-animation{
    0% { -webkit-transform: translateY(-10%); transform: translateY(-10%)}
}

@-webkit-keyframes updown-animation1{
    0% { -webkit-transform: translateY(-10%); transform: translateY(-10%)}
}
@keyframes updown-animation1{
    0% { -webkit-transform: translateX(-20%); transform: translateX(-20%)}
}


.contactus-wrapper .modal-content{
    /*background: #f3e3ca;*/
    border: 0;
}
.contc-fild-main .form-group{

}
.get-tch-heading{
    font-size: 22px;
    /* font-family: 'walsheim_bold'; */
    margin: 0 0 20px 0;
    position: relative;
    padding: 0 0 10px 0;
    color: #006738;
    text-align: center;
}
.get-tch-heading:before{
    content: '';
    position: absolute;
    left: 50%;
    width: 70px;
    height: 3px;
    background: #006738;
    bottom: 0;
    transform: translateX(-50%);
}
.contc-fild-main .form-group label{
    margin: 0 0 5px 10px;
}
.contc-fild-main .form-group .form-control{
    border: 0;
    background: #f5f5f5;
    border-radius: 50px;
    padding: 10px 15px;
    height: auto;
    box-shadow: 0 0 3px rgba(0,0,0,0.15);
}
.contc-fild-main .form-group textarea.form-control{
    border-radius: 10px;
}
.contc-fild-main .form-group .form-control:focus{
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    outline: 0;
}
.contactus-wrapper .close{
    position: absolute;
    right: -18px;
    top: -15px;
    opacity: 1 !important;
    background: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    z-index: 9;
    color: #006738;
}
.contactus-wrapper .modal-body{
    padding: 20px 15px 0;
}
.contc-sumt-btn button{
    width: 150px;
    border: 0;
    background: #ffab02;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    padding: 7px 10px;
    border-radius: 50px;
    margin: 10px auto 20px auto;
    box-shadow: 0 3px 5px rgba(0,0,0,0.2);
    transition: all 0.3s;
}
.contc-sumt-btn button:hover{
    background: #006738;
}

.modal.fade.contactus-wrapper .modal-dialog {
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out,-webkit-transform .3s ease-out;
    -webkit-transform: translate(0,-50px);
    transform: translate(0,0) scale(0.7);
}
.modal.fade.contactus-wrapper .modal-dialog {
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out,-webkit-transform .3s ease-out;
    -webkit-transform: translate(0,-50px);
    transform: translate(0,0) scale(0.7);
}
.modal.fade.contactus-wrapper.show .modal-dialog {
    transform: translate(0,0) scale(1);
}


.loader-wrapper {
  background-color: rgba(255,255,255,0.98);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}

.preloader{
    width: 100px;
    height: 100px;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    margin: auto;
}

.preloader-logo {
    position: absolute;
    top: 15px;
    left: 18px;
    width: 64px;
    height: 64px;
    animation: logoscale 1.5s infinite linear;
}

.spinner {
  width: 100px;
  height: 100px;
  border: 3px solid #ddd;
  border-top: 3px solid #77ad5f;
  border-radius: 100%;
  animation: spin 1.5s infinite linear;
  background: #fff;
}



@keyframes spin {
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}

@keyframes logoscale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}



.alert {
  background: white;
  width: 100%;
  display: flex;
  padding: 1rem;
  align-items: center;
  border-radius: .8rem;
  border: 2px solid;
  margin-bottom: 1rem;
  position: relative;
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.04), 0px 12px 25px rgba(0, 0, 0, 0.07);
  -webkit-animation: transitionIn 200ms ease forwards;
          animation: transitionIn 200ms ease forwards;
  transition: all 200ms ease;
}
.alert__message {
  color: #677b7a;
  padding: 0 20px 0 50px;
}
.alert__close {
  width: 1.3rem;
  height: 1.3rem;
  line-height: 1.3rem;
  color: #677b7a;
  text-align: center;
  position: absolute;
  top: .5rem;
  right: .5rem;
  cursor: pointer;
  border-radius: .4rem;
}
.alert__close:hover, .alert__close:focus {
  background: rgba(103, 123, 122, 0.2);
}
.alert__icon {
  margin-right: 1rem;
  width: 36px;
  height: 36px;
  position: absolute;
  left: 15px;
  -webkit-animation: fade 500ms linear forwards;
          animation: fade 500ms linear forwards;
}
.alert__icon-path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  stroke-width: 4px;
  -webkit-animation: dash 1s ease forwards;
          animation: dash 1s ease forwards;
}
.alert__icon-path--type {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}
.alert--success {
  color: #39D7B3;
  border-color: #39D7B3;
}
.alert--warning {
  color: #FFBA4B;
  border-color: #FFBA4B;
}
.alert--danger {
  color: #FF4555;
  border-color: #FF4555;
}

@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
.wrapper {
    max-width: 400px;
    width: 100%;
    margin: auto;
    position: fixed;
    z-index: 99999;
    right: 30px;
    top: 20px;
}
.wrapper:before{
    content: '';
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/*change css*/
.pro-text-top{
    margin-top: -50px !important; 
}
.hrd-top-banner{
    position: relative;
}

.banner-txt{
    position: absolute;
    bottom: 104px;
    right: 6px;
}
.banner-txt p{
    font-size: 30px;
    margin:0px;
    /* font-family: 'walsheim_medium'; */
    font-style: normal;
    text-transform: uppercase;
    text-align: right;
    letter-spacing: 10px;

}
.banner-txt h1{
    font-size: 100px;
    /* font-family: 'walsheim_bold'; */
    font-style: normal;
    text-transform: uppercase;
    color: #D34040;
    margin-bottom: 0px;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.2);
    text-align: right;
}
.cbr-center-pr-text h4{
    font-size: 56px;
    /* font-family: 'walsheim_bold'; */
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
    color: #B21D1D;
    padding-bottom: 0px;
    padding: 20px 10px;
}
.monthly-incom-row .valid{
    font-size: 12px;
    color: #DA462A;
    display: -webkit-box;
}
.termncon p{
    margin-bottom: 0;
    text-align: right;
    color: #999;
    /* font-family: sans-serif; */
    font-size: 12px;
}
.month-inr-img{
    position: relative;
}
.month-inr-text{
    position: absolute;
    top: -29px;
    left: 95px;
    box-shadow: 2px -2px 0 0 rgba(0, 0, 0, 0.3);
}
.month-inr-text p{
    background-color: #fff;
    display: inline-block;
    padding: 4px 5px;
    margin-bottom: 0px;
    color: #4C1B17;
    /* font-family: 'walsheim_bold'; */
    font-style: normal;
    border: 2px solid #B21D1D;
    font-size: 12px;
    letter-spacing: 2px;
}
.earn-month-name-row {
    position: relative;
}
.pulse {
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 30px;
    left: 32px;
    z-index: 1;
}
.pulse:hover {
  animation: none;
}

.pulse.red {
    background: #da462a;
    box-shadow: 0 0 0 rgba(201, 53, 53, 0.4);
    animation: pulsered 2s infinite;
}
@keyframes pulsered {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(201, 53, 53, 0.4);
    box-shadow: 0 0 0 0 rgba(201, 53, 53, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 20px rgba(201, 53, 53, 0);
      box-shadow: 0 0 0 20px rgba(201, 53, 53, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(201, 53, 53, 0);
      box-shadow: 0 0 0 0 rgba(201, 53, 53, 0);
  }
}

.pulse.green {
    background: #42620d;
    box-shadow: 0 0 0 0 rgba(66, 98, 13, 0.4);
    animation: pulsegreen 2s infinite;
}
@keyframes pulsegreen {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(66, 98, 13, 0.4);
    box-shadow: 0 0 0 0 rgba(66, 98, 13, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 20px rgba(66, 98, 13, 0);
      box-shadow: 0 0 0 20px rgba(66, 98, 13, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(66, 98, 13, 0);
      box-shadow: 0 0 0 0 rgba(66, 98, 13, 0);
  }
}

.pulse.purple {
    background: #5c2d91;
    box-shadow: 0 0 0 0 rgba(92, 45, 145, 0.4);
    animation: pulsepurple 2s infinite;
}
@keyframes pulsepurple {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(92, 45, 145, 0.4);
    box-shadow: 0 0 0 0 rgba(92, 45, 145, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 20px rgba(92, 45, 145, 0);
      box-shadow: 0 0 0 20px rgba(92, 45, 145, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(92, 45, 145, 0);
      box-shadow: 0 0 0 0 rgba(92, 45, 145, 0);
  }
}


.footer-social-media{

}
.footer-social-media ul{
    
}
.footer-social-media ul li{
    display: inline-block;
    padding: 0;
    margin: 0 3px;
}
.footer-social-media ul li a{
    display: block;
    font-size: 18px;
    background: #ffab02;
    width: 33px;
    height: 33px;
    text-align: center;
    line-height: 34px;
    border-radius: 50%;
    color: #000;
}


.swing-wrapper{
    position: relative;
}
.visitors-counter{
    position: absolute;
    bottom: 10px;
    color: #fff;
    z-index: 99;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 15px
}
.visitors-counter span{
    color: #fff;
    font-size: 22px;
    /* font-family: 'walsheim_bold'; */
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    position: relative;
    top: 3px;
    left: 4px;
}
.swing {
    position: absolute;
    top: -4px;
    z-index: 50;
    animation: swing ease-in-out 1s infinite alternate;
    float: left;
    width: 175px;
    right: 20px;
}
 
@keyframes swing {
    0% { transform: rotate(5deg); }
    100% { transform: rotate(-5deg); }
}

/*=======slider block start=======*/
.cbr-center-pr-text h4 {
    font-size: 56px;
    /* font-family: 'walsheim_bold'; */
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
    color: #B21D1D;
    padding-bottom: 0px;
    padding: 10px 10px;
    margin-bottom: 0px;
}

.sld-box{
    background-color: white; 
    padding: 10px 0px;
}
.slick-slide img {
    margin: 0 auto;
}
.slider{
    padding: 20px 0px 30px 0px;
}
.slider .slick-slide .testimonial-slider{
    margin: 30px 0px;
    text-align: center;
    opacity: .2;
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
    transition: all 0.3s ease-in-out;
}
.slider .slick-slide.slick-center .testimonial-slider {
    opacity: 1;
    -webkit-transform: scale3d(1.0, 1.0, 1);
    transform: scale3d(1.0, 1.0, 1);
}
.slick-arrow {
    top: 50%;
    position: absolute;
    z-index: 999;
    font-size: 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
    background-repeat: no-repeat;
}

.slick-prev {
    left: 0;
}
.slick-next {
    right: 5px;
}
.slick-prev:before, .slick-next:before {
    color: #ffdea6;
    font-size: 46px;
}

.slick-prev:before {
    content: "<";
    /* font-family: cursive; */
    font-weight: 500;
}
.slick-next:before {
    content: ">";
    /* font-family: cursive; */
    font-weight: 500;
}
/*=======slider block end=======*/


@media (max-width: 991px){
    .contc-fild-main {
        margin: 30px 0 0 0;
    }
}

@media (max-width: 767px) {
    .refer-earn-wrapper {
        width: 100%;
    }

    .bnr-ntm-text {
        margin: 10px 0 15px;
    }

        .bnr-ntm-text h2 {
            font-size: 22px;
        }

    .join-btn-main a {
        font-size: 18px;
        width: 300px;
        height: 52px;
        background-size: cover;
        line-height: 52px;
    }

    .cubr-str-srvice-heading {
        font-size: 16px;
        margin: 10px 0 10px 0;
    }

    .cubr-str-sevn-img {
        margin: 0 0 10px 0;
    }

    .cbr-top-side {
        padding: 120px 0 5px 0;
    }

    .inner-ptn-left-space {
        padding: 0 5px 0 15px;
    }

    .month-inr-info {
        padding: 0 0 0 0;
    }

    .brackets-main {
        padding: 0 0 0 0;
    }

    .month-inr-img {
        margin-left: 0;
        margin-right: 0;
        text-align: center;
        display: inline-block;
    }

    .twel-mnt-cplit-info-text {
        font-size: 18px;
    }

    .earn-month-name-row {
        margin-bottom: 0 !important;
    }

    ul.monthly-incom-row li h3 {
        font-size: 38px;
        margin: 0;
    }

    .cbr-bottom-side {
        padding: 40px 0;
    }
    /*.graph-earn-lbl-1 {
        top: 80px;
        left: 0;
    }
    .graph-earn-lbl-2 {
        top: 21px;
        left: -46px;
    }
    .graph-earn-lbl-3 {
        top: -65px;
        left: 20px;
    }
    .graph-earn-lbl-4 {
        top: -10px;
        left: -9px;
    }*/
    .inner-ptn-wrapper:before {
        left: 0;
        width: 35px;
    }

    .animtin-img-1 {
        width: 65px;
    }

    .animtin-img-2 {
        width: 65px;
    }

    .wrapper {
        max-width: 95%;
        position: fixed;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }

    .cbr-center-pr-text h4 {
        font-size: 30px;
    }

    .banner-txt {
        bottom: 19%;
        right: 12%;
    }

        .banner-txt p {
            font-size: 24px;
        }

        .banner-txt h1 {
            font-size: 80px;
        }

    .pulse {
        width: 18px;
        height: 18px;
        top: 29px;
        left: 6px;
    }

    ul.d-flex.promoter-info-row-2 {
        margin-top: 0;
    }

    #scroll-top {
        left: 14px;
    }
    .bike-promoter-men {
        top: 12px;
    }
}

@media (max-width: 575px){
    .banner-txt h1 {
        font-size: 55px;
    }
    .banner-txt p {
        font-size: 16px;
        letter-spacing: 4px;
    }
    .cbr-center-pr-text h4 {
        font-size: 24px;
    }
    .animtin-img-12 {
        top: 0;
        left: 0;
    }
    .animtin-img-13 {
        top: 0;
        right: 0;
    }
    .animtin-img-11 {
        top: 2px;
        left: 45%;
    }
}

@media (max-width: 450px){
    .banner-txt h1 {
        font-size: 50px;
    }
    .banner-txt p {
        font-size: 14px;
        letter-spacing: 4px;
    }
    .pro-text-top {
        margin-top: -10px !important;
    }
}

@media (max-width: 375px){
    .banner-txt h1 {
        font-size: 40px;
    }
}

.errorType
{
    border: 1px solid red !important;
}
.hidden{
    display: none;
}
a.store_link, a.store_link:hover {
    color: #fff;
}
#msg{
    resize: none;
}

.inner-p{
    margin-right: 10px;
}

section.home-testimonial {
    background-image: none;
    color: #fff;
    padding-top: 60px;
    text-align: left;
    margin-bottom: -60px;
}

.testimonial-intro {
    text-align: center;
}

.home-header {
    font-size: 50px;
    /* font-family: 'proxima_nova_bold'; */
    margin-top: -13px;
}

.home-header + p {
    margin-top: -15px;
    text-transform: uppercase;
}

#home-testimonial-slider {
    min-height: 500px;
    color: #000;
    overflow: visible !important;
}

#home-testimonial-slider .cloud9-item {
    background-color: #fff;
    /*width: 500px;*/
    width: 300px;
    box-shadow: 3px 5px 22px #999;
    text-align: center;
    /*min-height: 415px;*/
    min-height: 250px;
}

#home-testimonial-slider .cloud9-item .testimonial-image {
    width: 95px;
    height: 95px;
    overflow: hidden;
    border-radius: 100px;
    border: 5px solid #fff;
    box-shadow: 3px 5px 22px #999;
    position: relative;
    margin: 0 auto;
    bottom: 45px;
}

#home-testimonial-slider .cloud9-item .testimonial-info {
    padding: 0 25px 25px;
}

#home-testimonial-slider .cloud9-item .testimonial-name {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 20px;
}

#home-testimonial-slider .cloud9-item .testimonial-title {
    color: #717171;
    font-size: 18px;
}

#home-testimonial-slider .cloud9-item .testimonial-content {
    font-style: italic;
    color: #323232;
    font-size: 15px;
    /* font-family: "Georgia Italic", "Times New Roman", serif; */
}

.cloud9-item .active{
    max-width: 70% !important;
}

.item1{
    display: inline-block;
    position: absolute;
    transform-origin: 0px 0px;
    z-index: 100;
    transform: translate(424.5px, 76.5px) scale(1);
}

.item2{
    display: inline-block;
    position: absolute;
    transform-origin: 0px 0px;
    z-index: 62;
    transform: translate(200.786px, 139.5px) scale(0.625);
}

.item3{
    display: inline-block;
    position: absolute;
    transform-origin: 0px 0px;
    z-index: 62;
    transform: translate(835.714px, 139.5px) scale(0.625);
}

.table-text{
    font-size: 13px;
}

.top-promoter{
    margin-top: 20px;
}
